@inherits LayoutComponentBase
<BootstrapBlazorRoot> 
    @{
        string title = "佛教愍生講堂";

        string year = DateTime.Now.Year.ToString();

        string index = "/";
        string mansangOriginUrl = "/portal/ManSangOrigin";
        string masterUrl = "/portal/master";
        string mediaIndexUrl = "/media/index";
        string liveUrl = "/live/index";
        string mansangContactUrl = "/portal/ManSangContact";
        string activitypostUrl = "/activitypost/postlist";

        string facebookUrl = "https://m.facebook.com/100064540160423/?locale=zh_HK";
        //string youtubeUrl = "https://m.youtube.com/@user-zf6wr8zk4m";

        string calendarUrl = "/portal/calendar";
    }

    <div>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="@index">
                    <img src="/logo-title.png" alt="@title" height="25" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarPortalContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarPortalContent" style="width:70vw">
                    <div class="offcanvas-header">
                        @* <h3 class="offcanvas-title" id="offcanvasNavbarLabel">@title</h3> *@
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 fw-bold fs-6">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    北角愍生講堂
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="@mansangOriginUrl">緣起</a></li>
                                    <li><a class="dropdown-item" href="@masterUrl">現任主持</a></li>
                                    <li><a class="dropdown-item" href="@mansangContactUrl">聯絡資料</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    東涌羅漢寺
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">緣起</a></li>
                                    <li><a class="dropdown-item" href="#">聯絡資料</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    弘法活動
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="@activitypostUrl">活動消息</a></li>
                                    <li><a class="dropdown-item" href="@calendarUrl">活動日曆</a></li>
                                    <li><a class="dropdown-item" href="@mediaIndexUrl">講座開示</a></li>
                                    <li><a class="dropdown-item" href="@liveUrl">直播</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    慈善功德
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">延生超薦</a></li>
                                    <li><a class="dropdown-item" href="#">佛前供燈</a></li>
                                    <li><a class="dropdown-item" href="#">供僧供齋</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="@facebookUrl" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="portal-main">
        @Body
    </div>

    <div class="portal-footer bg-light">
        <div class="row justify-content-center fs-6 my-3">
            <div class="col-auto">
                <i class="fa-solid fa-phone"></i> 2808 2373
            </div>
            <div class="col-auto">
                <i class="fa-brands fa-whatsapp"></i> 6880 1958
            </div>
        </div>
        <div class="row justify-content-center fs-6 my-3">
            <div class="col-auto">
                ©@DateTime.Now.Year.ToString() <span class="text-muted">佛教愍生講堂</span>
            </div>
        </div>
    </div>
</BootstrapBlazorRoot>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>