@using BMSHMedia.Common.Media;
@model MediaFolderVM
@{
    Layout = null;

    var subFolders = MediaApiVM.GetMediaFolderList().Where(x => x.ParentId == Model.Id);

    var files = Model.Files;

    string playUrl = "/media/play";
}

<fieldset class="layui-elem-field layui-field-title">
    <legend>資料夾</legend>
</fieldset>

<div class="layui-row layui-col-space15">
    @if (!Model.IsTop)
    {
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header ">
                    <i class="media-icon media-icon-folder layui-icon layui-icon-return"></i>
                </div>
                <div class="layui-card-body">
                    <a class="more-line-ellipsis" href="javascript:void(0);"
                       onclick="getMediaFolderById('@Model.ParentId')">
                        上一頁
                    </a>
                </div>
            </div>
        </div>
    }

    @foreach (var folder in subFolders)
    {
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header ">
                    <i class="media-icon media-icon-folder layui-icon layui-icon-template-1"></i>
                </div>
                <div class="layui-card-body">
                    <a class="more-line-ellipsis" href="javascript:void(0);"
                       onclick="getMediaFolderById('@folder.Id')">
                        @(folder.FolderName)
                    </a>
                </div>
            </div>
        </div>
    }
</div>

@if (files.Count > 0)
{
    <fieldset class="layui-elem-field layui-field-title">
        <legend>文件</legend>
    </fieldset>
}
@if (files.Count > 0)
{
    <div class="layui-row layui-col-space15">
        @foreach (var file in files)
        {
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header ">
                        @if (file.FileType == MediaFileTypeEnum.Audio)
                        {
                            <i class="media-icon media-icon-folder layui-icon layui-icon-music"></i>
                        }
                        @if (file.FileType == MediaFileTypeEnum.Video)
                        {
                            <i class="media-icon media-icon-folder layui-icon layui-icon-video"></i>
                        }
                    </div>
                    <div class="layui-card-body">
                        <form action="@playUrl" method="post" target="_blank">
                            <button type="submit" class="play-btn-submit"><span class="more-line-ellipsis">@file.FileName</span></button>
                            <input type="hidden" asp-for="@file.Url" name="Url" />
                            <input type="hidden" asp-for="@file.FileType" name="FileType" />
                            <input type="hidden" asp-for="@file.MineType" name="MineType" />
                            <input type="hidden" asp-for="@file.FileName" name="FileName" />
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}