@model MediaScanVM
@{
    Layout = null;

    List<MediaFolderVM> folders = Model.MediaFolderList;

    List<MediaFileVM> files = Model.MediaFileList;

    string uplevelPath = Model.UpLevelFolderPath;

    bool isShowUpIcon = Model.IsShowUpLevelLinkIcon;
}

<style>
    .file-item-icon.text-secondary .fa.fa-folder-o {
        color: #1d99f3;
    }

    .playSubmitBtn {
        border: none;
        background: none;
        text-decoration: underline;
        outline: none;
    }
</style>

<h4>--資料夾--</h4>
<div class="file-manager-container file-manager-col-view">
    @*     <div class="file-manager-row-header">
    <div class="file-item-name pb-2">Filename</div>
    <div class="file-item-changed pb-2">Changed</div>
    </div>  *@
    @if (isShowUpIcon)
    {
        <div class="file-item media-item-folder" data-path="@uplevelPath">
            <div class="file-item-icon file-item-level-up fa fa-level-up text-secondary"></div>
            <a href="javascript:void(0)" class="file-item-name">
                ..
            </a>
        </div>
    }

    @foreach (var item in folders)
    {
        <div class="file-item media-item-folder" data-path="@item.RelativeEncodePath">
            <div class="file-item-select-bg bg-primary"></div>
            @* <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
        </label> *@
            <div class="file-item-icon text-secondary "><i class="fa fa-folder-o"></i></div>
            <a href="javascript:void(0)" class="file-item-name">
                @item.FolderName
            </a>
            @* <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="javascript:void(0)">下載</a>
        </div>
        </div> *@
        </div>
    }
</div>

@if (files.Count > 0)
{
    <h4>--文件--</h4>
}
<div class="file-manager-container file-manager-col-view">
    @foreach (var item in files)
    {
        <div class="file-item media-item-file">
            <div class="file-item-select-bg bg-primary"></div>
            @*  <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
        </label> *@
            @if (item.FileType == MediaFileTypeEnum.Audio)
            {
                <div class="file-item-icon text-secondary fa fa-music"></div>
            }
            @if (item.FileType == MediaFileTypeEnum.Video)
            {
                <div class="file-item-icon text-secondary fa fa-youtube-play"></div>
            }
            @* <a href="javascript:void(0)" class="file-item-name" onclick="mediaPlay(this)" style="text-decoration:underline;"
        data-path="@item.Url" data-title="@item.FileName" data-fileType="@item.FileType">
        @item.FileName
        </a> *@
            <form action="/media/play" method="post" target="_blank">
                <button type="submit" class="playSubmitBtn">@item.FileName</button>
                <input type="hidden" asp-for="@item.Url" name="Url" />
                <input type="hidden" asp-for="@item.FileType" name="FileType" />
                <input type="hidden" asp-for="@item.MineType" name="MineType" />
                <input type="hidden" asp-for="@item.FileName" name="FileName" />
            </form>
            @* <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="javascript:void(0)" >下載</a>
        </div>
        </div> *@
        </div>
    }

</div>

<style>
    .layui-card {
        /*         border-style:solid;
            border-width:1px;
            border-color: #1d99f3; */
        background-color: ghostwhite;
        height: 105px;
    }

        .layui-card .layui-card-body .media-folder-name {
            overflow: hidden;
            text-overflow: ellipsis;
        }

    .media-icon.media-icon-folder {
        color: #1d99f3;
    }

    .layui-card-body .more-line-ellipsis {
        text-decoration: underline;
    }

    .play-btn-submit {
        border: none;
        background: none;
        text-decoration: underline;
        outline: none;
        overflow:hidden;
        text-overflow:ellipsis;
    }
</style>
<div>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>資料夾</legend>
    </fieldset>

    <div class="layui-row layui-col-space15">
        @foreach (var folder in folders)
        {
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header ">
                        <i class="media-icon media-icon-folder layui-icon layui-icon-template-1"></i>
                    </div>
                    <div class="layui-card-body">
                        <a class="more-line-ellipsis" href="javascript:void(0);"
                           onclick="scanSubFolder('@folder.RelativeEncodePath')">
                            @(folder.FolderName)
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

    @if (files.Count > 0)
    {
        <fieldset class="layui-elem-field layui-field-title">
            <legend>文件</legend>
        </fieldset>
    }
    <div class="layui-row layui-col-space15">
        @foreach (var file in files)
        {
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header ">
                        @if (file.FileType == MediaFileTypeEnum.Audio)
                        {
                            <i class="media-icon media-icon-folder layui-icon layui-icon-music"></i>
                        }
                        @if (file.FileType == MediaFileTypeEnum.Video)
                        {
                            <i class="media-icon media-icon-folder layui-icon layui-icon-video"></i>
                        }
                    </div>
                    <div class="layui-card-body">
                        <form action="/media/play" method="post" target="_blank">
                            <button type="submit" class="play-btn-submit"><span class="more-line-ellipsis">@file.FileName</span></button>
                            <input type="hidden" asp-for="@file.Url" name="Url" />
                            <input type="hidden" asp-for="@file.FileType" name="FileType" />
                            <input type="hidden" asp-for="@file.MineType" name="MineType" />
                            <input type="hidden" asp-for="@file.FileName" name="FileName" />
                        </form>
                        @* <a class="more-line-ellipsis">
                            @file.FileName
                        </a> *@
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<script>

    addLisenter_dbclick_media('.media-item-folder');


</script>
