@model MediaFileScanVM
@{
    Layout = null;

    List<MediaFileVM> mp3s = Model.MediaFileList.Where(x => x.FileType == MediaFileTypeEnum.Audio).ToList() ?? new();

    List<MediaFileVM> mp4s = Model.MediaFileList.Where(x => x.FileType == MediaFileTypeEnum.Video).ToList() ?? new();

    List<MediaFolderVM> folders = Model.MediaFolderList ?? new();

    string uplevel = Model.UpLevelPath;
}



<div class="file-manager-container file-manager-col-view">
@*     <div class="file-manager-row-header">
        <div class="file-item-name pb-2">Filename</div>
        <div class="file-item-changed pb-2">Changed</div>
    </div>  *@ 
    @* @if (!string.IsNullOrEmpty(uplevel) && !MediaFolderVM.IsMediaRootPath(MediaFolderVM.UncodeAndGetSysFullPath(uplevel)))
    {
        <div class="file-item media-folder-item" data-path="@uplevel">
            <div class="file-item-icon file-item-level-up fa fa-level-up text-secondary"></div>
            <a href="javascript:void(0)" class="file-item-name">
                ..
            </a>
        </div>
    } *@
    <div class="file-item media-folder-item" data-path="@uplevel">
        <div class="file-item-icon file-item-level-up fa fa-level-up text-secondary"></div>
        <a href="javascript:void(0)" class="file-item-name">
            ..
        </a>
    </div>
    @foreach (var item in folders)
    {
         <div class="file-item media-folder-item" data-path="@item.RelativePath_Encode">
            <div class="file-item-select-bg bg-primary"></div>
            <label class="file-item-checkbox custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" />
                <span class="custom-control-label"></span>
            </label>
            <div class="file-item-icon text-secondary fa fa-folder-o"></div>
            <a href="javascript:void(0)" class="file-item-name">
                @item.FolderName
            </a>
            @* <div class="file-item-actions btn-group">
                <button type="button" class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                </div>
            </div> *@
        </div>
    }
</div>

<div class="file-manager-container file-manager-col-view">
    @foreach (var item in mp4s)
    {
        <div class="file-item">
            <div class="file-item-select-bg bg-primary"></div>
            <label class="file-item-checkbox custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" />
                <span class="custom-control-label"></span>
            </label>
            <div class="file-item-icon text-secondary fa fa-folder-o"></div>
            <a href="javascript:void(0)" class="file-item-name">
                @item.FileName
            </a>
            @* <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
        </div>
        </div> *@
        </div>
    }
</div>

<div class="file-manager-container file-manager-col-view">
    @foreach (var item in mp3s)
    {
        <div class="file-item">
            <div class="file-item-select-bg bg-primary"></div>
            <label class="file-item-checkbox custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" />
                <span class="custom-control-label"></span>
            </label>
            <div class="file-item-icon text-secondary fa fa-folder-o"></div>
            <a href="javascript:void(0)" class="file-item-name">
                @item.FileName
            </a>
            @* <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
        </div>
        </div> *@
        </div>
    }
</div>

<script>
    var touchtime = 0;
    $('.media-folder-item').on("click", function () {
        if (touchtime == 0) {
            // set first click
            touchtime = new Date().getTime();
        } else {
            // compare first click to this click and see if they occurred within double click threshold
            if (((new Date().getTime()) - touchtime) < 800) {
                // double click occurred

                scanSubFolder($(this).attr('data-path'));

                touchtime = 0;
            } else {
                // not a double click so set as a new first click
                touchtime = new Date().getTime();
            }
        }
    });


    //dbclick_media();
</script>
