@model MediaScanVM
@{
    Layout = null;

    //List<MediaFileVM> mp3s = Model.MediaFileList.Where(x => x.FileType == MediaFileTypeEnum.Audio).ToList() ?? new();

    //List<MediaFileVM> mp4s = Model.MediaFileList.Where(x => x.FileType == MediaFileTypeEnum.Video).ToList() ?? new();

    List<MediaFolderVM> folders = Model.MediaFolderList;

    string uplevel = Model.UpLevelFolderPath;
}

<style>
    .file-item-icon.text-secondary .fa.fa-folder-o {
        color: #1d99f3;
    }
</style>

<h4>--資料夾--</h4>
<div class="file-manager-container file-manager-col-view">
    @*     <div class="file-manager-row-header">
    <div class="file-item-name pb-2">Filename</div>
    <div class="file-item-changed pb-2">Changed</div>
    </div>  *@
    <div class="file-item media-item-folder" data-path="@uplevel">
        <div class="file-item-icon file-item-level-up fa fa-level-up text-secondary"></div>
        <a href="javascript:void(0)" class="file-item-name">
            ..
        </a>
    </div>

    @foreach (var item in folders)
    {
        <div class="file-item media-item-folder" data-path="@item.RelativeEncodePath">
            <div class="file-item-select-bg bg-primary"></div>
            @* <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
        </label> *@
            <div class="file-item-icon text-secondary "><i class="fa fa-folder-o"></i></div>
            <a href="javascript:void(0)" class="file-item-name">
                @item.FolderName
            </a>
            @* <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
        </div>
        </div> *@
        </div>
    }
</div>
<h4>--文件--</h4>
<div class="file-manager-container file-manager-col-view">
    @foreach (var item in Model.MediaFileList)
    {
        <div class="file-item media-item-file" >
            <div class="file-item-select-bg bg-primary"></div>
            @*  <label class="file-item-checkbox custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"></span>
        </label> *@
            @if (item.FileType == MediaFileTypeEnum.Audio)
            {
                <div class="file-item-icon text-secondary fa fa-music"></div>
            }
            @if (item.FileType == MediaFileTypeEnum.Video)
            {
                <div class="file-item-icon text-secondary fa fa-youtube-play"></div>
            }
            <a href="javascript:void(0)" class="file-item-name" onclick="mediaPlay(this)" style="text-decoration:underline;"
               data-path="@item.Url" data-title="@item.FileName" data-fileType="@item.FileType">
                @item.FileName
            </a>
            @* <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
        </div>
        </div> *@
        </div>
    }
</div>


<script>

    addLisenter_dbclick_media('.media-item-folder');
</script>
