@using BMSHMedia.Common.Media;
@model MediaFileVM

@{
   
}

<style>
    .media-player-body {
        margin: 0 auto;
        text-align: center;
        width:370px;
        min-height:500px;
        
    }

    button.player-close{
        margin-top:20px;      
    }
</style>

<div class="media-player-body">
    @if (Model.FileType == MediaFileTypeEnum.Audio)
    {
        <audio controls autoplay>
            <source src="@Model.Url" type="@Model.MineType">
            ???
        </audio>
    }

    @if (Model.FileType == MediaFileTypeEnum.Video)
    {
        <video controls autoplay width="350" >
            <source src="@Model.Url" type="@Model.MineType" />
            ???
        </video>
    }

    <p>
        @Model.FileName
    </p>
    <button type="button" class="layui-btn layui-btn-primary layui-border player-close" onclick="window.close();">關閉</button>
</div>
