@model MediaFileVM

@{
   
}

<style>
    .media-player-body {
        margin: auto;
        text-align: center;
        width:370px;
        min-height:600px;
        padding-top:60px;
    }

    .btn.player-close{
        margin-top:10px;      
    }
</style>

<div class="media-player-body">
    @if (Model.FileType == MediaFileTypeEnum.Audio)
    {
        <audio controls autoplay>
            <source src="@Model.Url" type="@Model.MineType">
            ???
        </audio>
    }

    @if (Model.FileType == MediaFileTypeEnum.Video)
    {
        <video controls autoplay width="360" >
            <source src="@Model.Url" type="@Model.MineType" />
            ???
        </video>
    }

    <p>
        @Model.FileName
    </p>
    <button type="button" class="btn btn-light text-right player-close" onclick="window.close();">關閉</button>
</div>
