@model BMSHMedia.ViewModel.BaseFormVMs.BaseFormVM
@{
    var list = Model.FormSubmitList;
    var post = Model.FormSubmitList[0];

    string tableId = "table" + Guid.NewGuid().ToString("N");
}

<div style="padding:20px;">
    <table lay-filter="@tableId">
        <thead>
            <tr>
                <th lay-data="{field:'@post.SubmitTime', width:200}">提交時間</th>
                @foreach (var item in post.FormSubmitDataList)
                {
                    <th lay-data="{field:'@item.Name', width:200}">@item.Label</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in list)
            {
                <tr>
                    <td>@item.SubmitTime</td>
                    @foreach (var data in item.FormSubmitDataList)
                    {
                        <td>@data.Value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    layui.table.init('@tableId', {
        page:true,
        defaultToolbar: ['filter', 'print', 'exports'],
    });
</script>