@using BMSHMedia.Common.Services
@using BMSHMedia.ViewModel.ActivityPostVMs;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<ActivityPost_View>
@{
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
    string detailUrl = "/activitypost/details";
}

<style>
    .activity-post {
        width: 70%;
        margin: 0 auto;
        overflow: auto;
        padding: 20px 0;
    }

    a {
        color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
        text-decoration: underline;
    }

    @@media screen and (max-width:600px) {
        .activity-post {
            width: 100%;
            margin: 0 auto;
            overflow: auto;
            padding: 20px 0;
        }
    }
</style>

<div class="mt-3">
    <h2>活動資訊</h2>
    <hr />
    @if (Model.Count > 0)
    {
        <div class="row mx-auto">

            @foreach (var item in Model)
            {
                <div class="card mb-3 activity-post">
                    @if (item.PostAttachList.Any())
                    {
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="@WtmFrameworkApiHelper.GetFileUrl(@item.PostAttachList[0].FileId.ToString())" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title"><a href="@detailUrl/@item.ID" target="_blank" class="card-link">@item.Title</a></h3>
                                    @* <div class="card-text">@Html.Raw(item.Text)</div> *@
                                    <p class="card-text"><small class="text-muted">@item.GetCreateTime()</small></p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card-body">
                            <h3 class="card-title"><a href="@detailUrl/@item.ID" class="card-link">@item.Title</a></h3>
                            @* <div class="card-text">@Html.Raw(item.Text)</div> *@
                            <p class="card-text"><small class="text-muted">@item.GetCreateTime()</small></p>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="row">
            @Html.PagedListPager(Model, pageIndex => Url.Action("PostList", "activitypost", new { pageIndex }),
                     new PagedListRenderOptions
        {
            LinkToFirstPageFormat = "<<",
            LinkToNextPageFormat = ">",
            LinkToPreviousPageFormat = "<",
            LinkToLastPageFormat = ">>",
            MaximumPageNumbersToDisplay = 10,
            DisplayItemSliceAndTotal = false,//从头到尾显示页码
            UlElementClasses = new[] { "pagination justify-content-center " },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
        })
        </div>
    }
    else
    {
        <p class="lead">
            沒有活動資訊
        </p>
    }
</div>