@using X.PagedList;
@using BMSHMedia.ViewModel.ActivityPostVMs;
@using X.PagedList.Mvc.Core
@model IPagedList<ActivityPost_View>
@{
    Layout = "~/Views/Shared/_PortalLayout.cshtml";

}

<style>
    a {
        color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
        text-decoration: underline;
    }
</style>

<div class="row" style="margin:20px auto;">
    @foreach (var item in Model)
    {
        <div class="card mb-3">
            @if(item.PostAttachList.Any()){
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="@WtmFrameworkApiHelper.GetFileUrl(@item.PostAttachList[0].FileId)" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="card-link">@item.Title</a></h3>
                            <p class="card-text">@Html.Raw(item.Text)</p>
                            <p class="card-text"><small class="text-muted">@item.GetCreateDate()</small></p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="card-body">
                    <h3 class="card-title"><a href="#" class="card-link">@item.Title</a></h3>
                    <p class="card-text">@Html.Raw(item.Text)</p>
                </div>
            }
        </div>
    }
</div>

<div class="row" >
    @Html.PagedListPager(Model, pageIndex => Url.Action("PostList", new { pageIndex }), new PagedListRenderOptions
{
    LinkToFirstPageFormat = "<<",
    LinkToNextPageFormat = ">",
    LinkToPreviousPageFormat = "<",
    LinkToLastPageFormat = ">>",
    MaximumPageNumbersToDisplay = 5,
    DisplayItemSliceAndTotal = false,//从头到尾显示页码
    UlElementClasses = new[] { "pagination justify-content-center " },
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" },
})
</div>